In [ ]:
import numpy as np
import pandas as pd
import difflib
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
movie_data = pd.read_csv('movies.csv')

In [ ]:
movie_data.shape

(4803, 24)

In [ ]:
selected_features = ['genres','keywords','tagline','cast','director']

In [ ]:
for feature in selected_features:
  movie_data[feature] = movie_data[feature].fillna('')

In [ ]:
combined_features = movie_data['genres']+' '+movie_data['keywords']+' '+movie_data['tagline']+' '+movie_data['cast']+' '+movie_data['director']
combined_features

0       Action Adventure Fantasy Science Fiction cultu...
1       Adventure Fantasy Action ocean drug abuse exot...
2       Action Adventure Crime spy based on novel secr...
3       Action Crime Drama Thriller dc comics crime fi...
4       Action Adventure Science Fiction based on nove...
                              ...
4798    Action Crime Thriller united states\u2013mexic...
4799    Comedy Romance  A newlywed couple's honeymoon ...
4800    Comedy Drama Romance TV Movie date love at fir...
4801      A New Yorker in Shanghai Daniel Henney Eliza...
4802    Documentary obsession camcorder crush dream gi...
Length: 4803, dtype: object

In [ ]:
vectorizer = TfidfVectorizer()

In [ ]:
feature_vectors = vectorizer.fit_transform(combined_features)

In [ ]:
similarity = cosine_similarity(feature_vectors)
print(similarity)

[[1.         0.07219487 0.037733   ... 0.         0.         0.        ]
 [0.07219487 1.         0.03281499 ... 0.03575545 0.         0.        ]
 [0.037733   0.03281499 1.         ... 0.         0.05389661 0.        ]
 ...
 [0.         0.03575545 0.         ... 1.         0.         0.02651502]
 [0.         0.         0.05389661 ... 0.         1.         0.        ]
 [0.         0.         0.         ... 0.02651502 0.         1.        ]]

In [ ]:
def recommend_movie(movie_title, movie_data, similarity):
    try:
      idx = movie_data[movie_data['title'] == movie_title].index[0]
    except IndexError:
      print("Movie title not found in the dataset.")
      return None

    similarity_scores = list(enumerate(similarity[idx]))

    similarity_scores = sorted(similarity_scores, key=lambda x: x[1], reverse=True)
    similar_movies = similarity_scores[1:6]

    movie_indices = [i[0] for i in similar_movies]
    return movie_data['title'].iloc[movie_indices]

In [ ]:
movie_name = input(' Enter your favourite movie name : ')

 Enter your favourite movie name : 2012

In [ ]:
recommendations = recommend_movie(movie_name, movie_data, similarity)

if recommendations is not None:
    print(recommendations)

2486                          Meteor
723                    The Happening
3927                     Please Give
1768                   Martian Child
91      Independence Day: Resurgence
Name: title, dtype: object